In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from igraph import Graph, plot, RainbowPalette
import cairo
import community
from scipy.sparse import coo_matrix

In [2]:
reviews = pd.read_csv('data/tucson_reviews.csv')
print(reviews.shape)
reviews.head()

(404880, 9)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
1,UBp0zWyH60Hmw6Fsasei7w,4Uh27DgGzsp6PqrH913giQ,otQS34_MymijPTdNBoBdCw,4,0,2,0,The bun makes the Sonoran Dog. It's like a snu...,2011-10-27 17:12:05
2,ymhbOMW63B_vGaRFR3XT0A,yZdAhQ_KmKuCZmbBy9YDQg,5Ce3lZksYVkCbrihqylVHQ,5,0,0,0,I just started going to Sushi Nara this month ...,2014-07-25 17:56:26
3,onlgwy5qGDEzddsrnIvtWg,pYXeL0RCqus2IfhthYCOyA,W7NxQw8UYFR0HLPrI08tvw,4,0,0,0,Don't know what it is but If my tummy's feelin...,2012-02-01 14:21:25
4,xS4qtB70SM-q7kX7smKlRg,_Y7-za074Q1sx6t6EucTwA,zt2JwrXrou8PyDELJOOA_w,1,2,1,0,OMG!!! I can't believe this kind of service ex...,2014-06-28 19:44:23

In [3]:
xpto = reviews[['user_id', 'business_id', 'stars']].sample(200).copy(deep=True)

In [4]:
xpto2  = xpto.copy(deep=True)

In [5]:
result = xpto.assign(key=1).merge(xpto2.assign(key=1), on='key').drop('key', 1)
result.head()

/var/folders/1w/k9637z597nn40_dksv68jh1h0000gn/T/ipykernel_11894/4105447349.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  result = xpto.assign(key=1).merge(xpto2.assign(key=1), on='key').drop('key', 1)

,user_id_x,business_id_x,stars_x,user_id_y,business_id_y,stars_y
0,hoGUV-fkrFfurFYZcQTlWw,n5cAHwSFXhjVIJ48-LcBRA,1,hoGUV-fkrFfurFYZcQTlWw,n5cAHwSFXhjVIJ48-LcBRA,1
1,hoGUV-fkrFfurFYZcQTlWw,n5cAHwSFXhjVIJ48-LcBRA,1,k2kx9xXNslSVTxvQ8ZBVPQ,b5BsyP6CCrkHUSexsOvd1A,1
2,hoGUV-fkrFfurFYZcQTlWw,n5cAHwSFXhjVIJ48-LcBRA,1,WyvvWRCCHizctkFdGWz72A,bfpwNZp1TprfhORDNh6iTw,1
3,hoGUV-fkrFfurFYZcQTlWw,n5cAHwSFXhjVIJ48-LcBRA,1,E3R01ki3iaic1nonV83yng,OLv_9dEcUGLq6AasZuloQw,5
4,hoGUV-fkrFfurFYZcQTlWw,n5cAHwSFXhjVIJ48-LcBRA,1,TTQSDF3vSlUFWifiRYInpQ,89h8yJNnYEs5MiRogltPJw,3

In [6]:
result[(result.user_id_x == result.user_id_y) & (result.business_id_x != result.business_id_y)].head()

,user_id_x,business_id_x,stars_x,user_id_y,business_id_y,stars_y
10965,lHqA_D7nAK9xw_Xg08dM_w,2cpdYwMOeKQtiMDvm39nKg,5,lHqA_D7nAK9xw_Xg08dM_w,wm23rnUccF_3en3NSN7afw,5
11091,iJdknUsOPUDA2BTfTVE1Hg,h8TJV8clolcjqp9aFV4OjQ,4,iJdknUsOPUDA2BTfTVE1Hg,14QP5lOdrTAVVCDDuHIAUg,5
18255,iJdknUsOPUDA2BTfTVE1Hg,14QP5lOdrTAVVCDDuHIAUg,5,iJdknUsOPUDA2BTfTVE1Hg,h8TJV8clolcjqp9aFV4OjQ,4
24363,IFGpr5r7qR9v1ef3MCKbHw,p-pp2F_iClEKk0wybXAaxg,2,IFGpr5r7qR9v1ef3MCKbHw,LZzDvgfpkd4nI3E4L9wF1w,3
32721,IFGpr5r7qR9v1ef3MCKbHw,LZzDvgfpkd4nI3E4L9wF1w,3,IFGpr5r7qR9v1ef3MCKbHw,p-pp2F_iClEKk0wybXAaxg,2

In [ ]:
x2.columns = ['user_id', 'business_id', 'stars', 'user_id2', 'business_id2', 'stars2']

In [ ]:
x2.head()

In [ ]:
x3 = x2[x2['user_id'] == x2['user_id2']]

In [ ]:
x3[x3['business_id'] != x3['business_id2']].head()

In [ ]:
pd.crosstab(x3['business_id'], x3['business_id2'])

In [ ]:
reviews_greater = reviews.groupby('business_id').filter(lambda x: len(x) > 1000)
print(reviews_greater.shape)
reviews_greater.head()

In [ ]:
reviews_greater['date'] = pd.to_datetime(reviews_greater['date'])

In [ ]:
reviews_greater['year'] = reviews_greater['date'].dt.year
reviews_greater.year.value_counts().sort_index()

In [ ]:
reviews_2020 = reviews_greater[reviews_greater.year == 2020].reset_index(drop=True).copy(deep=True)
reviews_2020.head()

In [ ]:
xpto = pd.crosstab(reviews_2020['user_id'], reviews_2020['business_id'])
xpto.head()

In [ ]:
xx = pd.pivot_table(reviews_2020, values='stars', index=['user_id'], columns=['business_id'])
xx.head()

In [ ]:
xx.to_csv('data/xx.csv')

In [ ]:
print(f" Unique business: {len(set(reviews_greater['business_id']))}")
print(f" Unique users: {len(set(reviews_greater['user_id']))}")
print(f" Unique reviews: {len(set(reviews_greater['review_id']))}")

In [ ]:
g = Graph(directed=False)

# Add vertices
g.add_vertices(reviews_greater['business_id'].unique())
g.add_vertices(reviews_greater['user_id'].unique())

# Add edges
g.add_edges(zip(reviews_greater['business_id'], reviews_greater['user_id']))

# Set attributes
g.vs['type'] = ['business'] * len(set(reviews_greater['business_id'])) + ['user'] * len(set(reviews_greater['user_id']))

# Plot graph
visual_style = {}
visual_style["vertex_size"] = 5
# visual_style["vertex_label"] = g.vs["name"]
# visual_style["vertex_label_dist"] = 1
# visual_style["vertex_label_size"] = 5
visual_style["edge_width"] = 0.5
visual_style["layout"] = g.layout("kk")
visual_style["bbox"] = (800, 800)
visual_style["margin"] = 100
visual_style["edge_arrow_size"] = 0.5
visual_style["edge_arrow_width"] = 0.5
visual_style["edge_curved"] = False
visual_style["vertex_color"] = ["red" if v == "business" else "blue" for v in g.vs["type"]]
visual_style["vertex_frame_color"] = "black"
visual_style["vertex_label_color"] = "black"
visual_style["edge_color"] = "grey"
visual_style["edge_curved"] = False
visual_style["edge_arrow_size"] = 0.5
visual_style["edge_arrow_width"] = 0.5

# increase the business vertex size
visual_style["vertex_size"] = [10 if v == "business" else 5 for v in g.vs["type"]]


plot(g, **visual_style)

In [ ]:
# Detect communities using Louvain
communities = g.community_multilevel()

# Find the top 5 communities
top_communities = communities.subgraphs()

# plot the best community
plot(top_communities[0], **visual_style)

In [ ]:
# plot the second best community
plot(top_communities[1], **visual_style)

In [ ]:
# print the number of communities
print(f"Number of communities: {len(top_communities)}")

In [ ]:
users = pd.read_csv('data/tucson_users.csv')
users.head()

In [ ]:
users.columns

In [ ]:
reviews_2020.business_id.unique()

In [ ]:
reviews_2020.user_id.unique()